.header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 80px;
  padding: 0 1rem;
}

.search-form {
  margin-left: auto;
  margin-right: 3rem;
  width: 300px;
  max-width: 60%;
}

.modal {
  display: none;
  top: 80px;
}

#modal-switch:checked ~ .modal {
  display: flex;
}

label[for='modal-switch'] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
}

label[for='modal-switch']:before {
  content: '🧲';
  font-size: 2rem;
}

#modal-switch:checked ~ label[for='modal-switch']:before {
  border-radius: 50%;
  border: 3px solid dodgerblue;
}

#modal-switch,
label[for='modal-switch'] span {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  top: 0px;
}
.primary {
  padding: 1rem;
}
.secondary {
  padding: 1rem;
}
.secondary-a {
  background-color: white;
}
.secondary-b {
  color: white;
  background-color: #666;
}

.footer {
  padding: 1rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .page {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    /* grid-template-areas:
      'header header header'
      'nav nav nav'
      'secondary-a primary secondary-b'
      'footer footer footer'; */
  }
  .header {
    /* grid-area: header; */
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .menu {
    /* grid-area: nav; */
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .primary {
    /* grid-area: primary; */
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .secondary-a {
    /* grid-area: secondary-a; */
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .secondary-b {
    /* grid-area: secondary-b; */
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .footer {
    /* grid-area: footer; */
    grid-column: 1/4;
    grid-row: 4/5;
  }
}

@media (min-width: 1400px) {
  .page {
    grid-template-columns: 300px 1fr 300px;
  }
  .secondary {
    width: 300px;
  }
}
